@{
    Layout = "_AdminPage";
    ViewData["Title"] = "Referrers";
}

@model IEnumerable<string>


@if (Model.Empty())
{
    <p>No Content</p>
}
else
{
    <ul>
        @foreach(var row in Model)
        {
            <li>
                <a href="@row" target="_blank" rel="noreferrer nofollow">@row</a>
            </li>
        }
    </ul>
}