# Suppress: EC112
root = true

[*]
charset                            = utf-8
end_of_line                        = crlf
indent_style                       = space
trim_trailing_whitespace           = true

### listing of Code Analysis codes: https://docs.microsoft.com/en-us/visualstudio/code-quality/code-analysis-warnings-for-managed-code-by-checkid?view=vs-2015


### Managing Disposable types

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity  = error

# CA1049: Types that own native resources should be disposable
dotnet_diagnostic.CA1049.severity  = error

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity  = error

# CA1063: Implement IDisposable correctly
dotnet_diagnostic.CA1063.severity  = error

# CA1816: Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1816.severity  = error

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity  = error

# CA2202: Do not dispose objects multiple times
dotnet_diagnostic.CA2202.severity  = warning

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity  = warning

# CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CA2215.severity  = warning

# CA2216: Disposable types should declare finalizer
dotnet_diagnostic.CA2216.severity  = error

### Other

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity  = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity  = silent

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity  = silent

# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity  = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity  = silent

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = error

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity  = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity  = none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity  = none

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity  = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity  = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity  = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity  = silent

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity  = suggestion

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity  = silent

# RCS1079: Throwing of new NotImplementedException.
dotnet_diagnostic.RCS1079.severity = silent

# IDE0025: Use block body for properties
csharp_style_expression_bodied_properties = when_on_single_line : warning

# IDE0048: add parentheses for clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:silent

# RS0016: Add public types and members to the declared API
dotnet_diagnostic.RS0016.severity = silent

# C# prefs
[*.cs]
csharp_indent_case_contents               = false
csharp_prefer_braces                      = true : suggestion

# Use tabs for solution files.
[*.sln]
indent_style = tab

# Code files
[*.{js,cs,csx,vb,vbx,c,cpp,h,hpp,glsl,hlsl}]
indent_size = 4

# Script files
[*.{fs,py,ss}]
indent_size = 2

# Shell files
[*.{cmd,bat,ps1,sh}]
indent_size = 4

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON/YAML files
[*.{json,yml,yaml}]
indent_size = 2