#demo {
    overflow: hidden;
}

    #demo > video {
        min-width: 100%;
        min-height: 100%;
        opacity: 0.5;
    }

#gui {
    display: flex;
    overflow-y: scroll;
}

#intro {
    min-width: 360px;
    max-width: 900px;
    margin: 5em auto auto auto;
    background-color: white;
    padding: 1em 1em 3em 1em;
    border-radius: 5px;
    border: solid 4px black;
    box-shadow: rgba(0, 0, 0, .4) 10px 10px 20px;
}

@media(max-width: 640px){
    #intro {
        border: none;
        margin: auto;
    }
}

#loginView {
    overflow-y: scroll;
}

    #loginView form > * {
        margin: .25em;
        padding: .25em;
    }

    #loginView form > label {
        text-align: right;
    }

#appView > * {
    width: 100%;
}

#frontBuffer {
    display: block;
}

#separator {
    border-style: solid;
    border-color: red;
    border-width: 0.5em 0;
    border-collapse: separate;
    background-color: black;
}