#menu {
    text-align: center;
    display: block;
    position: fixed;
    width: 100%;
    font-family: monospace;
    border-bottom: solid 2px #000;
    background-color: #fff;
}

.menu-open {
    right: 0;
}


    .menu-open > ul > li:first-child > a > .icon {
        background-position: 0px -250px;
    }

.menu-closed {
    left: calc(100% - 50px);
}

    .menu-closed > ul > li:first-child > a > .icon {
        background-position: 0px -275px;
    }

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}

    #menu ul li {
        display: inline-block;
        flex: auto;
    }

        #menu ul li a {
            display: inline-block;
            text-decoration: none;
            padding: 0.75em 0.5em;
        }

@media (min-width: 640px) {
    #menu {
        display: inline-block;
        width: initial;
    }
}
