@{
    Layout = "_PWA";
}

@model IEnumerable<Yarrow.Models.Activity>

@section HeadScripts {
    <link rel="stylesheet" type="text/css" href="~/stylesheets/vr.css" />
    <environment names="Staging,Production">
        <script type="module" src="~/scripts/vr.min.js"></script>
    </environment>
    <environment names="Development">
        <script type="module" src="~/scripts/vr.js"></script>
    </environment>
}

<canvas id="frontBuffer"></canvas>

<div id="startupData">
    @foreach (var activity in Model)
    {
        <section id="act-@activity.ID">
            <h2>@activity.Name</h2>
            <img src="~/VR/File/@activity.StartStationFileID" />
        </section>
    }
</div>

<div id="controls"></div>