@{
    Layout = null;
}

<div id="devices" class="dialog">
    <div class="dialogTitle">
        <h1>Devices</h1>
        <button type="button" class="closeButton">🗙</button>
    </div>
    <div class="content">
        <label for="videoInputDevices">Video Input:</label>
        <select id="videoInputDevices"></select>

        <label for="audioInputDevices">Audio Input:</label>
        <select id="audioInputDevices"></select>

        <label for="audioOutputDevices">Audio Output:</label>
        <select id="audioOutputDevices"></select>
    </div>
</div>