@{
    Layout = null;
}

<div id="emoji" class="dialog">
    <div class="dialogTitle">
        <h1>Emoji</h1>
        <button type="button" class="closeButton">🗙</button>
    </div>
    <div class="header"></div>
    <div class="content"></div>
    <div class="footer"></div>
</div>