@{
    Layout = "_PWA";
    ViewData["Title"] = "Chat";
    ViewData["Description"] = "Voice chat with an RPG map. Volume scales with distance from other users. Walk around, talk to folks, have private conversations by huddling in a corner, or drop in on other conversations. Ideal for meetups!";
}

@model Rooms[]

@section HeadScripts {
    <link rel="stylesheet" type="text/css" href="~/stylesheets/game.css" />
    <environment names="Staging,Production">
        <script type="module" src="~/scripts/game.min.js"></script>
    </environment>
    <environment names="Development">
        <script type="module" src="~/scripts/game.js"></script>
    </environment>
}

<canvas id="frontBuffer"></canvas>

<partial name="Options" />
<partial name="Devices" />
<partial name="UserDirectory" />
<partial name="Instructions" />
<partial name="Emoji" />
<partial name="Login" model="Model" />

<div id="controls"></div>