@{
    Layout = null;
}

<h2>Instructions</h2>
<ul>
    <li><strong>Be careful in picking your room name</strong>, if you don't want randos to join. Traffic is low right now, but you never know.</li>
    <li>Try to <strong>pick a unique user name</strong>. A lot of people use "Test" and then there are a bunch of people with the same name running around.</li>
    <li><strong>Open the Options view</strong> to set your avatar, or to change your microphone settings.</li>
    <li><strong>Click on the map</strong> to move your avatar to wherever you want. Movement is instantaneous, with a smooth animation over the transition. Your avatar will stop at walls.</li>
    <li>Or, <strong>use the arrow keys</strong> on your keyboard to move.</li>
    <li><strong>Click on yourself</strong> to open a list of Emoji. Select an Emoji to float it out into the map.</li>
    <li><strong>Hit the E key</strong> to re-emote with your last selected Emoji.</li>
    <li>You can <strong>roll your mouse wheel</strong> or <strong>pinch your touchscreen</strong> to zoom in and out of the map view. This is useful for groups of people standing close to each other to see the detail in their Avatar.</li>
</ul>