@{
    Layout = null;
}

@model Rooms[]

<div id="login" class="dialog">
    <div class="dialogTitle">
        <h1>Login</h1>
    </div>
    <div class="content">
        <form autocomplete="on">
            <div>
                <label for="userName">User:</label>
                <input type="text" id="userName" placeholder="(Required)" />
            </div>

            <div id="emailControl">
                <label for="email">Email:</label>
                <input id="email" type="email" placeholder="(Optional)" />
                <div>Email addresses are used to send updates about Calla.</div>
            </div>

            <div id="roomSelectorControl">
                <label for="roomSelector">Room:</label>
                <select id="roomSelector">
                    @foreach (var room in Model)
                    {
                        <option value="@room.ShortName">@room.Name</option>
                    }
                </select>
                <button type="button" id="createNewRoom" title="Create a new, temporary room">New</button>
            </div>

            <div id="roomEntryControl" style="display: none;">
                <label for="roomName">Room:</label>
                <input type="text" id="roomName" autocomplete="off" placeholder="(Required)" />
                <button type="button" id="selectRoom" title="Select an existing room">Cancel</button>
            </div>

            <div>
                <button type="button" id="connect" title="Login" disabled>Loading...</button>
            </div>
        </form>
    </div>
</div>