@{
    Layout = null;
}

<div id="users" class="dialog dialog-1">
    <div class="dialogTitle">
        <h1>Users</h1>
        <button type="button" class="closeButton">🗙</button>
    </div>
    <div class="content">
        <div id="chatUsers"></div>
        <div id="chatMessages"></div>
        <input type="text" id="chatEntry" />
        <button type="button" id="chatSend">Send</button>
    </div>
</div>