@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Activity";
}

@model Yarrow.Data.Activities


@if (Model == null)
{
    <p>No Content</p>
}
else
{
    <h2>@Model.Name</h2>
    <ul>
        @*<li>Starting point: <a href="~/YarrowVRAdmin/Station/@Model.ActivityStartPoints.StationId">@Model.ActivityStartPoints.Station.Transform.FullPath</a></li>
        <li><img src="~/YarrowVRAdmin/File/@Model.ActivityStartPoints.Station.FileId" style="max-width:50%" /></li>*@
    </ul>
}