@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Activity Start Points";
}

@model System.Collections.Generic.IEnumerable<Yarrow.Data.ActivityStartPoints>


@if (Model == null || Model.Empty())
{
    <p>No Content</p>
}
else
{
    <table id="output" cellspacing="0">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Station</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td><a href="~/YarrowVRAdmin/Activity/@row.ActivityId">@row.ActivityId</a></td>
                    <td><a href="~/YarrowVRAdmin/Station/@row.StationId">@row.StationId</a></td>
                </tr>
            }
        </tbody>
    </table>
}