@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Activities";
}

@model System.Collections.Generic.IEnumerable<Yarrow.Data.Activities>


@if (Model == null || Model.Empty())
{
    <p>No Content</p>
}
else
{
    <table id="output" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td><a href="~/YarrowVRAdmin/Activity/@row.Id">@row.Id</a></td>
                    <td>@row.Name</td>
                    <td>@row.Timestamp</td>
                </tr>
            }
        </tbody>
    </table>
}