* {
    box-sizing: border-box;
}

html,
body {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
    text-transform: capitalize;
}

h2 {
    font-size: 1.5em;
}
