* {
    box-sizing: border-box;
    font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

html,
body {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 12pt;
    line-height: 1.5;
    background-size: cover;
}

#frontBuffer {
    background-image: url("../starfield.jpg");
}

h1 {
    font-size: 2em;
    text-transform: capitalize;
}

h2 {
    font-size: 1.5em;
}

#headbar button, #footbar button {
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,.66);
}

.dialog h1 {
    font-size: 1em;
}

.dialog h2 {
    font-size: 0.75em;
}


.dialog {
    background-color: white;
    padding: 1em 1em 0 1em;
}

@media (min-width: 600px) {
    .dialog h1 {
        font-size: 2em;
    }

    .dialog h2 {
        font-size: 1.5em;
    }
}
