<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    @RenderSection("Meta", required: false)

    <title>@ViewData["Title"] - Calla</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/stylesheets/general.css" />
    <link rel="stylesheet" type="text/css" href="~/stylesheets/icons.css" />

    @RenderSection("HeadScripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
