@{
    Layout = "_Page";
}

@section HeadScripts
{
    <style type="text/css">
        #output {
            width: 100%;
        }

            #output > thead > tr {
                text-align: left;
                background-color: #6684F1;
                color: white;
            }

                #output > thead > tr > th {
                    padding: 0.5em;
                }

            #output > tbody > tr:nth-child(even) {
                background-color: #eee;
            }

            #output > tbody > tr > td {
                padding: 0.5em;
            }
    </style>
}
<a href="~/YarrowVRAdmin/Activities">Activities</a>
-- <a href="~/YarrowVRAdmin/Files">Files</a>
-- <a href="~/YarrowVRAdmin/Zones">Zones</a>
-- <a href="~/YarrowVRAdmin/Transforms">Transforms</a>
-- <a href="~/YarrowVRAdmin/TransformParents">Transform Parents</a>
-- <a href="~/YarrowVRAdmin/TransformInZone">Transforms in Zones</a>
-- <a href="~/YarrowVRAdmin/Stations">Stations</a>
-- <a href="~/YarrowVRAdmin/StationConnections">Station Connections</a>
-- <a href="~/YarrowVRAdmin/ActivityStartPoints">Activity Start Points</a>
-- <a href="~/YarrowVRAdmin/AudioTracks">Audio Tracks</a>
-- <a href="~/YarrowVRAdmin/PlaybackControls">Playback Controls</a>
-- <a href="~/YarrowVRAdmin/Signs">Signs</a>
-- <a href="~/YarrowVRAdmin/Upload">Upload</a>
@RenderBody()