#login > .header {
    grid-area: 2/1/3/4;
}

    #login > .header > form {
        display: grid;
        grid-template-rows: auto;
        column-gap: 1em;
        grid-row-gap: 1em;
        row-gap: 1em;
        grid-template-columns: 2fr 4fr 2fr;
        margin-right: 2em;
    }

        #login > .header > form > select,
        #login > .header > form > input[type=text],
        #login > .header > form > button {
            padding: 0.5em;
        }

        #login > .header > form > label {
            padding-top: 0.5em;
        }
