@font-face {
    font-family: "Noto Color Emoji";
    src: url('../fonts/NotoColorEmoji.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

html,
body {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 0.5em 1em;
    background-color: #6684F1;
    color: #FFF;
}

header {
    font-size: 14pt;
}

main {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 2em;
    flex: 1;
}

footer {
    font-size: 10pt;
    text-align: right;
}

    header a,
    header a:visited,
    header a:hover,
    footer a,
    footer a:visited,
    footer a:hover {
        color: #fff;
    }

header,
footer,
.link-button,
button,
.comboButton {
    text-shadow: rgba(0, 0, 0, .25) 3px 3px 3px;
}

.link-button,
button,
.comboButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    border-style: none;
    font-style: italic;
    font-weight: bold;
    background-color: #6684f1;
    box-shadow: rgba(0, 0, 0, .25) 3px 3px 3px;
}

    .comboButton > button,
    .comboButton > button:hover,
    .comboButton > button:active {
        padding: unset;
        border-radius: unset;
        box-shadow: unset;
        margin: unset;
    }

    .link-button:hover,
    button:hover,
    .comboButton:hover {
        text-decoration: underline;
        margin: -1px 1px 1px -1px;
        box-shadow: rgba(0, 0, 0, .25) 4px 4px 4px;
    }

    .link-button:active,
    button:active,
    .comboButton:active {
        margin: 1px -1px -1px 1px;
        box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px inset;
    }

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #314074;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    margin: 0;
}
