.icon {
    display: inline-block;
    background-image: url("../icons/buttons.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    margin-left: 7px;
    vertical-align: middle;
}

.icon-none {
    background-image: none;
}

.icon-linkedin {
    background-position: 0 -75px;
}

.icon-twitter {
    background-position: 0 -100px;
}

.icon-github {
    background-position: 0 -125px;
}

.icon-email {
    background-position: 0 -150px;
}

.icon-calendar {
    background-position: 0px -175px;
}

.icon-telephone {
    background-position: 0px -200px;
}

.icon-resume {
    background-position: 0px -225px;
}

.icon-shrink {
    background-position: 0px -250px;
}

.icon-expand {
    background-position: 0px -275px;
}
