body,
#frontBuffer {
    background-image: url("../images/starfield.jpg");
}

#frontBuffer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

#startupData {
    display: none;
}