@{
    Layout = "_YarrowVRAdminPage";
    ViewData["Title"] = "Transforms in Zones";
}

@model System.Collections.Generic.IEnumerable<Yarrow.Data.TransformInZone>


@if (Model == null || Model.Empty())
{
    <p>No Content</p>
}
else
{
    <table id="output" cellspacing="0">
        <thead>
            <tr>
                <th>Transform</th>
                <th>Zone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td><a href="~/YarrowVR/Transform/@row.TransformId">@row.TransformId</a></td>
                    <td><a href="~/YarrowVR/Zone/@row.ZoneId">@row.ZoneId</a></td>
                </tr>
            }
        </tbody>
    </table>
}